body{
    background-color: rgb(231, 231, 231);
    display: grid;
    grid-template-areas:    "header"
                            "nav"
                            "main"
                            "footer";
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: header;
}             

header h1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.padre{
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    margin-right: auto;

}

nav h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    /*text-align: center;*/
    justify-content: center;
    margin-left: 30%;
    margin-right: 30%;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}